/*============================
Base Element
============================*/

/**** General ****/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 0.625em;
}

img {
	width: 100%;
}

/**** Header ****/

h1 {
	font-size: 2.6em;
	color: #4A4A4A;
	font-weight: 700; /* Bold */
	margin-top: 0;
	margin-bottom: 24px;
}

p,
.personal-info {
	font-size: 1.4em;
	font-weight: 300; /* Light */
	color: #878787;
	line-height: 1.6;
	margin: 0;
}

/**** Navigation ****/

nav {
	margin-bottom: 43px;
}

nav ul {
	margin-bottom: 0;
}

nav li {
	font-size: 1.2em;
	background: #fff;
	margin-top: 5px;
}

nav a {
	display: block;
	color: #4A4A4A;
	font-weight: 500; /* Medium */
	padding: 15px 0;
}

.section-title {
	display: block;
	text-align: center;
	font-size: 1.4em;
	color: #4A4A4A;
	font-weight: 700; /* Bold */
	margin: 50px 0;
}

/**** Introduction ****/

.profile-pic {
	width: 200px;
	margin: 0 0 28px;
}

/**** Main Content ****/

.portfolio img {
	margin-bottom: 32px;
}

.portfolio h3 {
	font-size: 1.8em;
	font-weight: 400; /* Regular */
	margin-top: 0;
	margin-bottom: 18px;
}

/**** Footer ****/

.personal-info {
	margin: 40px 0;
}

.personal-info li {
	margin-bottom: 22px;
}

.bottom-caption {
	margin-top: 62px;
}

.bottom-caption h2 {
	display: block;
	text-align: center;
	font-size: 1.4em;
	color: #4A4A4A;
	font-weight: 700; /* Bold */
	margin-top: 34px;
	margin-bottom: 0;
}

.bottom-caption a:visited {
	color: #4A4A4A;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

/*============================
Contain Layout
============================*/

header {
	background: #FAFAFA;
	text-align: center;
}

.container {
	padding: 24px 12px 43px;
}

main {
	padding: 0 16px;
}

.portfolio {
	text-align: center;
	padding-bottom: 36px;
}

footer {
	background: #FAFAFA;
	text-align: center;
	padding: 16px 16px 34px;
}

.bottom-caption {
	border-top: 1px solid #ECECEC;
}

/*============================
Clearfix
============================*/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*============================
Media Query
============================*/

@media (min-width: 768px) {}

@media (min-width: 1024px) {}