/*============================
Base Element
============================*/

/**** General ****/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 0.625em;
}

img {
	width: 100%;
}

/**** Header ****/

h1 {
	font-size: 2.6em;
	color: #4A4A4A;
	font-weight: 700; /* Bold */
	margin-top: 0;
	margin-bottom: 24px;
}

p,
.personal-info {
	font-size: 1.4em;
	font-weight: 300; /* Light */
	color: #878787;
	line-height: 1.6;
	margin: 0;
}

b {
	font-weight: 500;
}

/**** Navigation ****/

nav {
	margin-bottom: 43px;
}

nav ul {
	margin-bottom: 0;
}

nav li {
	font-size: 1.2em;
	background: #fff;
	margin-top: 5px;
	padding: 15px 0;
}

nav a {
	display: block;
	color: #4A4A4A;
	font-weight: 500; /* Medium */
}

.section-title {
	display: block;
	text-align: center;
	font-size: 1.4em;
	color: #4A4A4A;
	font-weight: 700; /* Bold */
	margin: 50px 0;
}

/**** Introduction ****/

.profile-pic {
	width: 200px;
	margin: 0 0 28px;
}

/**** Main Content ****/

.portfolio img {
	margin-bottom: 32px;
}

.portfolio h3 {
	font-size: 1.8em;
	font-weight: 400; /* Regular */
	margin-top: 0;
	margin-bottom: 18px;
}

/**** Footer ****/

.personal-info {
	margin: 40px 0;
}

.personal-info li {
	margin-bottom: 22px;
}

.bottom-caption {
	margin-top: 62px;
}

.bottom-caption h2 {
	display: block;
	text-align: center;
	font-size: 1.2em;
	color: #4A4A4A;
	font-weight: 500; /* Medium */
	margin-top: 34px;
	margin-bottom: 0;
}

.bottom-caption a:visited {
	color: #4A4A4A;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

.bottom-nav {
	display: none;
}

/*============================
Contain Layout
============================*/

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

header {
	background: #FAFAFA;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 43px;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}

.portfolio {
	text-align: center;
	padding-bottom: 36px;
}

footer {
	background: #FAFAFA;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 34px;
}

.bottom-caption {
	border-top: 1px solid #ECECEC;
}

/*============================
Clearfix
============================*/

.cf:after {
    content:"";
    display:table;
    clear:both;
}


/*============================
Media Query
============================*/

@media (min-width: 768px) {
	nav{
		text-align: center;
	}
	nav ul,
	nav li {
		display: inline-block;
		margin: 0 20px;
		background-color: transparent;
	}
	nav a {
		display: inline;
	}
	.profile-pic {
		width: 45%;
		float: right;
		margin-left: 30px;
	}
	.intro {
		text-align: left;
	}
	.container {
		padding-right: 30px;
		padding-left: 30px;
	}
	.portfolio {
		width: 45%;
		margin-right: 2.5%;
		margin-left: 2.5%;
		float: left;
	}
	.portfolio:nth-child(2n - 4) {
		clear: left;
	}
	.bottom-nav {
		display: inline-block;
		float: right;
		margin-top: 19px;
	}
	#back-to-top {
		display: none;
	}
}

@media (min-width: 1024px) {
	.portfolio {
		width: 30%;
		margin-right: 1.25%;
		margin-left: 1.25%;
		float: left;
	}
	.portfolio:nth-child(2n - 4) {
		clear: none;
	}
	.portfolio:nth-child(3n - 4) {
		clear: left;
	}
}


