/**** Footer ****/

.personal-info {
	margin: 40px 0;
}

.personal-info li {
	margin-bottom: 22px;
}

.bottom-caption {
	margin-top: 62px;
}

.bottom-caption h2 {
	display: block;
	text-align: center;
	font-size: 1.2em;
	color: #4A4A4A;
	font-weight: 500; /* Medium */
	margin-top: 34px;
	margin-bottom: 0;
}

.bottom-caption a:visited {
	color: #4A4A4A;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

.bottom-nav {
	display: none;
}