/**** Introduction ****/

.profile-pic {
	width: 200px;
	margin: 0 0 28px;
}

/**** Main Content ****/

.portfolio img {
	margin-bottom: 32px;
}

.portfolio h3 {
	font-size: 1.8em;
	font-weight: 400; /* Regular */
	margin-top: 0;
	margin-bottom: 18px;
}